{% extends 'posts/base.html' %}
{% block title_head %}{{ block.super }}| Homepage{% endblock title_head %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        {% for post in post_list %}
        <div class="jumbotron">
            <div class="container">
            <h1 class="text-center">
                {% if post.draft %}<span><small>draft</small></span>{% endif %}
                {{ post.title }}
            </h1>
            <small>By: {{ post.author }} | {{ post.published }}</small><br>

            <small>
            Categories: {% for category in post.category.all %}<a 
            href="{% url 'posts:category' category.name %}">{{ category }}</a> {% endfor %}
            </small>
           
            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-responsive img-thumbnail pull-right"/>
            {% endif %}
            <p>{{ post.content|linebreaks|truncatechars:150 }}</p>
            <p><a class="btn btn-primary" href="{% url 'posts:detail' post.id %}" role="button">Read more &raquo;</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-lg-4">
        {% include 'posts/sidebar.html' %}
    </div>
</div>

<form id="items_per_page" method="GET" action="">
    Posts per page:
<select name="iitems">
    <option value='2'>2</option>
    <option value='4'>4</option>
    <option value='20'>20</option>
</select>
<input type="submit" value="select">
</form>

<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.iitems %}&iitems={{ request.GET.iitems }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.iitems %}&iitems={{ request.GET.iitems }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}