<h1>Recent posts:</h1>
    {% if recent_posts %}
    <ul>
    {% for post in recent_posts %}
        <li><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
<h1>Categories</h1>
    {% if categories %}
    <ul class="list-unstyled">
        {% for category in categories %}
        <li><a href="{% url 'posts:category' category %}">{{ category }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
<h1>Archives</h1>
{% if archives %}
    <ul>
        {% for date, post_no in archives.items %}
        <li><a href="{% url 'posts:archives' date %}"
        >{{ date|slice:":3" }} {{ date|slice:"3:" }} ({{ post_no }})</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
